<!doctype html>
<html>
  <head>
    <title>File Upload</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
  </head>
  <body>
    <h1>Lead-Based Paint Reporting</h1>
    <h3>  The folder structure of the sample file download is as such:</h3>
      <pre>
        sample_Folder
        |
        |____APP-03009 - 228 US HWY 17 N - Windsor
             |
             |____INSP-0009629_LBP
                  |
                  |____covid_Waiver
                  |    |    Covid Waiver.png
                  |    |    ...
                  |
                  |____...</pre>
    <h3>On <i>Choose Files</i>, select the folder path above "APP-#####..."</h3>
    <p>If you downloaded the sample file, the folder to upload would be "sample_Folder"</p>
    <h3>After selecting your folder, click <i>upload</i> to generate a zipfile containing the production documents</h3>
    <form method="POST" action="/" enctype="multipart/form-data">
      <p><input type="file" name="file" multiple webkitdirectory directory></p>
      <p><input type="submit" value="upload"></p>
    </form>

    <h2>sample file download</h2>
    <form method="GET" action="/download">
      <p><button type="submit" class="btn btn-primary">download zipfile</p>
    </form>
  </body>
</html>